# Developer files
.vscode

# Build files
build

# Roms - Not uploading game roms from Nintendo!
roms/*.gb
# Test roms can be uploaded, though
!roms/cpu_instrs.gb
!roms/dmg-acid2.gb
!roms/mem_timing.gb
!roms/0*.gb
!roms/1*.gb